/*  Poiret  */
@font-face {
  font-family: 'Sarabun-Bold';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Sarabun-Bold.ttf");
}

@font-face {
  font-family: 'Sarabun-Bolder';
  font-style: normal;
  font-weight: bolder;
  src: url("fonts/Sarabun-ExtraBold.ttf");
}


@font-face {
  font-family: 'Sarabun-light';
  font-style: normal;
  font-weight: bolder;
  src: url("../fonts/Sarabun-light.ttf");
}