//variables here

$red: 				#e83535;
$green: 			green;
$gray: 				#eee;
$blue: 				#2a3b92;
$dark-blue:	#2480a9;
$light-blue: #59bad8;
$green-light: #ddeeea;
$light-orange: #dc9d51;
$white: 			#fff;
$black: 			#2f2f2f;