<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
<body>
	<main id="main">
		{{> side-menu}}
		<div class="content">
			{{> drinks}}
			{{> sandwich}}
			{{> pizza}}
			{{> dessert}}
		</div>
	</main>
	{{> footer-scripts}}
</body>
</html>