<section class="section active" id="drinks">
	<h2 class="section--title">Drinks</h2>
	<div class="section--list">
		{{> mol-product}}
		{{> mol-product}}
		{{> mol-product}}
		{{> mol-product}}
	</div>
</section>