<section class="section" id="sandwich">
	<h2 class="section--title">Sandwich</h2>
	<div class="section--list">
		{{> mol-product}}
		{{> mol-product}}
		{{> mol-product}}
		{{> mol-product}}
		{{> mol-product}}
		{{> mol-product}}		
	</div>
</section>