<div class="side-menu">
	<h1 class="side-menu--title">Awesome Restaurant</h1>
	<nav>
		<ul class="side-menu--list">
			<li class="side-menu--item side-menu--item__drinks">
				<span class="fa fa-?"></span><a href="#drinks">Drinks</a>
			</li>
			<li class="side-menu--item side-menu--item__sandwich">
				<span class="fa fa-?"></span><a href="#sandwich">Sandwich</a>
			</li>
			<li class="side-menu--item side-menu--item__pizza">
				<span class="fa fa-?"></span><a href="#pizza">Pizza's</a>
			</li>
			<li class="side-menu--item side-menu--item__dessert">
				<span class="fa fa-?"></span><a href="#dessert">Dessert</a>
			</li>
		</ul>
	</nav>
</div>